

.navbar {
    margin-bottom: 0;
}

$hero-height: 60vh;

.header-unit 
{
    color: #333;
    line-height: 2em;
    vertical-align: middle;
    .pull-right {
        vertical-align: top;
    }
    .social-icon {
        padding: 0 5px;
        color: #333;
    }
}

.hero-unit 
{
    -webkit-box-shadow:inset 0 5px 5px -5px #333;
    box-shadow:inset 0 5px 5px -5px #777;
    border-top: 1px solid #333;

    background-color: #6B9AC8;
    background: -webkit-linear-gradient(left top, #6B9AC8, #CEF6FA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #6B9AC8, #CEF6FA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #6B9AC8, #CEF6FA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #6B9AC8, #CEF6FA); /* Standard syntax (must be last) */
    color: white;
    font-family: 'Poppins', sans-serif;
    height: $hero-height;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        margin-bottom: 0;
        line-height: 1;
        text-transform: lowercase;
        font-weight: bold;
    }
    h2 {
        margin-top: 1em;
        font-weight: normal;
        font-size: 1.5em;
    }
}

.overview {
    background-color: #fafafa;
    border-bottom: 1px solid #d3d3d3;
    a.card {
        background-color: #fff;
        display: block;
        margin: 1em;
        padding: 1em;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
        color: #333;
        &:hover {
            border-color: #2996cc;
            border-width: 1px;
            text-decoration: none;
            color: #333;
        }
        h4 {
            text-transform: uppercase;
        }
        .cta {
            font-weight: bold;
            color: #2996cc;
        }
    }
}